/* Estilos generales */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  background-color: #FFFAF0;
  overflow-x: hidden;
}

/* Fondo de la página */
.background {
  background-image: url('../image/fondocercamio.png'); /* Ruta relativa desde src hacia /image */
  background-size: cover; /* Escala la imagen para cubrir todo el área */
  background-position: center; /* Centra la imagen */
  width: 100%; /* Ocupa todo el ancho de la ventana */
  height: 90vh; /* Ocupa todo el alto de la ventana */
}

/* Sección principal */
.main {
  padding: 20px;
  text-align: center;
}

.info-section {
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
}

.info-section h2 {
  color: #4a148c;
  margin-bottom: 10px;
}

.info-section p {
  color: #333333;
  margin: 0;
}

/* Sección de categorías */
.categorias {
  background-color: #b39ddb;
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column; /* Ajustado para organizar contenido en columna */
  align-items: center; /* Centra los elementos */
  gap: 20px; /* Espaciado entre elementos */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  
}

.categorias h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0 20px;
}

.categorias ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.categorias li {
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 10px;
  transition: transform 0.3s ease;
  margin-right: 30px;
  cursor: pointer;
}

.categorias li:hover {
  transform: translateY(-10px);
}

.categorias h3 {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

.categorias img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Contenedor de los rectángulos */
.rectangles-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: stretch;
  
}

/* Estilo para los rectángulos */
.rectangle {
  width: 100%;
  height: 200px;
  background-color: #b39ddb;
  display: flex;
  box-sizing: border-box;

  position: relative;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  flex-direction: column;
  padding-top: 30px;
  
}

/* Título en la parte superior izquierda */
.rectangle-title {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

/* Contenedor de los cuadros */
.square-container {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  position: relative;
  
}

/* Los cuadros */
.square-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

.square {
  width: 150px;
  height: 150px;
  background-color: #FFFAF0;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: relative;
  flex-shrink: 0; /* Evita que los cuadrados se reduzcan de tamaño */
  transition: transform 0.3s ease;
  cursor: pointer;
}
.square:hover {
  transform: translateY(-5px);
}
/* Contenedor del nombre y precio dentro del cuadrado */
.square-content {
  margin-top: 15px;
  bottom: 5px;
  left: 5px;
  color: white;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}

/* Mover los cuadros a la derecha cuando se da click en la flecha */
.square-wrapper.move-right {
  transform: translateX(-50%);
}

/* Botón de flecha horizontal */
.toggle-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 10px;
  background-color: #ffffff;
  color: #7e57c2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-btn:hover {
  background-color: #f3f3f3;
}

/* Estilos para los productos dentro de los cuadrados */
.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}

.product-image {
  
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 8px;
  align-self: center;

}

.product-details {
  text-align: center;
  margin-top: 10px;
}

.product-details h3 {
  font-size: 16px;
  margin-bottom: 5px;
  color:  #171717;
}

.product-details p {
  font-size: 14px;
  color: #171717;
}
